@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat&family=Poppins:wght@600&display=swap');

body {
  background-color: white;
  background-image: url('/public/assets/img/arvore.png'), url('/public/assets/img/mancha-amarela.png'), url('/public/assets/img/background.png');
  background-size: 40%, 50%, cover;
  background-position: 58% -1%, right top, right;
  background-repeat: no-repeat;
}